/* You can add global styles to this file, and also import other style files */
body {
    background: #252525;
    color: white;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    padding-top: 65px; 
    padding-bottom: 65px;
}

.square {
    border-radius: 0px !important;
}

.modal {
    color: black;
}

.sound-card,
.board { 
    border: 1px solid purple; 
    padding: 20px; 
    text-align: center;
    position: relative;
}

.sound-card-edit,
.board-edit { 
    border: 1px solid blue; 
}

.sound-card-edit { 
    border: 1px solid gold; 
}

.add-board {
    border: 1px solid purple; 
    padding: 20px; 
    text-align: center;
    position: relative;
}

.sound-card:hover,
.add-board:hover,
.board:hover {
    opacity: 0.5;
    cursor: pointer;
}

.edit {
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
    top: 0;
    z-index: 1000;
}

.edit a {
	color: #000;
}

[class*="col-"] {
  padding-top: 10px;
}